body{
  background: #ffffff;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-weight: 400;
  
}
html{
    --scrollbarBG: #ffffff;
    --thumbBG: #8bffb2;
  scroll-behavior: smooth;
}
body::-webkit-scrollbar {
  width: 11px;
}
body {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG) ;
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}

/* Menu */
.contact-btn{
  background: #1ffd17;
  border: 0;
  outline: 0 ;
  padding:15px;
  margin-top: 15px;
  width: 122px;
  box-shadow: 5px 10px 15px rgb(188, 255, 176);
}
.bg-white{
  background: rgb(255, 255, 255) !important;
  height: 70px;
}
.navbar-brand{
  color: darkgreen;
}


/* Home */
.home{
  margin-top: 180px;
}
.bg-home{
  background-image: url("/src/assets/bg3.png");
}
.btn-resume{
  padding: 20px 35px 18px 35px;
  outline: 0;
  border: 0;
  background: linear-gradient(
    -135deg
    , rgb(255, 255, 255) 0%, #1ffd17 100%);
    font-size: 17px;
    display: inline-block;
    border-radius: 5px;
    letter-spacing: 0.95px;
    color: white;
}
.btn-resume:hover{
  border-radius: 50px;
  transition: all .5s ease-in;
  background: none !important;
  color: #1ffd17;
  border: 2px solid #1ffd17;
}
.home-img{
  width: 100%;
  height: auto;
}

.home-heading{
  font-size: 3.5rem !important;
}
.home-header{
  font-size: 75px;
  margin: 10px 0;
  text-align: center;
  font-weight: 700;
  color: #1ffd17;

}
/* services */
.projectCard{
  width:30%;
  height: 50vh;
}
.service-bg{
  background-image: url("/src/assets/bg.png") ;
  background-repeat: no-repeat;
  
}
.email-color{
  color: #1ffd17;
  font-size:25px;
}
.p-text{
  position: absolute;
}
.bg-img{
  position: relative;
}
.service-title{
  font-size: 44px;
  font-weight: 700;
}
.programming-icon{
  width: 40px;
  margin-bottom: 14px;
}
.service-block{
  padding: 50px 40px;
  width: 270px;
  height: 167px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 40px 0px rgb(85 128 255 / 20%);
}
/* about */
.about{
  background: #ffffff;
  padding: 71px 66px 36px 69px;
 
  border-radius: 42px;
}
.mg-b22{
  margin-bottom: 22px;
}
.sub-title{
  color: #1ffd17;
  font-size: 24px;
  position: relative;
  display: inline-block;
  font-family: 'Playball', sans-serif;
}
.about-img{
  outline: 10px solid #90acd1;
  outline-offset: -34px;
  border: 44px solid transparent;
  border-width: 0px 10px 0px 85px;
}
.btn-cv{
  outline: 5px solid orange;
}
.about-info li{
    display: flex;
    margin-bottom: 20px;
}
.about-text p{
  color: #777777;
}
.about-info span:first-child{
  width: 130px;
  font-size: 16px;
  font-weight: 500;
  color: #222222;
}
.progress{
  width: 80%;
}
.progress-bar{
  background-color: #1ffd17;
}
.social-icons{
  color: #1ffd17;
  /* height: ;: 50px; */
}
.social-links{
    display: flex;
    justify-content: space-evenly;
}
/* Education */
.shape-right{
  top: -270px;
  right: 0;
  position: absolute;
}

.uk-timeline .uk-timeline-item .uk-card {
	max-height: 300px;
  padding: 18px 15px 23px 15px;
}

.uk-timeline .uk-timeline-item {
    display: flex;
    position: relative;
}

.uk-timeline .uk-timeline-item::before {
    background: #dadee4;
    content: "";
    height: 100%;
    left: 19px;
    position: absolute;
    top: 20px;
    width: 2px;
		z-index: -1;
}

.uk-timeline .uk-timeline-item .uk-timeline-icon .uk-badge {
		margin-top: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #1ffd17;
    padding: 10px;
}

.uk-timeline .uk-timeline-item .uk-timeline-content {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0 0 0 1rem;
}

/* Conatct */
.btn-contact ,.bg-contact{
  background-color: #ffffff;
  box-shadow: 0px 0px 40px 0px rgb(85 128 255 / 20%);
  padding: 18px 15px 23px 15px;
  border-radius: 36px;
  max-width: 370px;
  margin: 0 auto;
}
.contact{
  background: rgb(20, 18, 18);
  padding: 90px 0;
  color: white;
  margin-top: 25px;
}
.contact h1{
  color: white;
}
.form-control-input{
  width: 100%;
  border: 0;
  outline:0;
  padding: 10px 0;
  font-size: 16px;
  border-radius: 20px;
  padding: 15px;
  background-color:#ffffff;
  transition: all 0.2s ease-in-out;
  appearance: none;
  -webkit-appearance: none;
}
.input-label{
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  font-weight: 700;
  letter-spacing: 1.4px;
  transition: .5s;
}
.media-body{
  padding-left: 20px;
}

.contact-left .img{
  display: flex;
  align-items: flex-start;
}
span{
  color: rgb(153, 152, 152);
}
.form-control-input:focus {
    border-bottom-color: #ddd;
}
.media-icon{
  font-size: 23px;
  color: #1ffd17;
  width: 56px;
  font-weight: bolder;
  text-align: center;
  height: 56px;
  border-radius: 50%;
  line-height: 50px;
  border: 4px solid #fff;
}
.btn-submit{
  background: #1ffd17;
  border: 0;
  outline: 0 ;
  font-size: 14px;
  color: #e7f9fc;
  border-radius: 30px;
  padding: 25px 23px;
  text-transform: uppercase;
  line-height: 0;
}
.contact-message{
  margin-top: 10px;
  font-size: 24px;
  padding: auto;
}
/* loader */

.loader{
  width: 10px;
  height: 10px;
  margin: 40px auto;
  border-radius: 54px;
  background:#1ffd17;
}
@media only screen and (max-width: 600px) {
  .home-header{
    font-size: 25px !important; 
   }
   h3{
     font-size: 20px;
   }
   .btn-resume{
     font-size: 10px;
     padding: 10px;
   }
   .lead,p,li{
     font-size: 14px;
   }
   h2{
     font-size: 20px;
   }
}

@media only screen and (min-width: 600px) {
  .home-header,
  h3{
   font-size: 30px !important; 
  }
 
}
@media only screen and (min-width: 768px) {

  .home-header{
    font-size: 30px !important; 
   }
}